<h3>Checklists for using the app</h3>

<p>These lists will help you capture ceramics data efficiently. The workflow described covers the regular analysis
  process including filling out the paper Data Sheet and entering data and photos using the app. The workflow is as
  follows:</p>

<ul>
  <li>Set up your table with what you will need (pencil, Data Sheets, lights, magnifying glass, diameter charts, tablet,
    etc.) Everyone should have their own tablet.
  </li>
  <li>Fetch a bag of sherds to work on.</li>
  <li>Dump them out, arrange them, tag them, measure them, photograph them, enter the data in the paper sheet and the
    tablet. This is the part of the workflow that is described by the checklists below.
  </li>
  <li>Return the sherds to the bag.</li>
  <li>Tear off the lower part of the T-Tag and place it inside the bag.</li>
  <li>Tie up the bag as it was, and tie the upper part of the T-Tag to the outside of the bag.</li>
  <li>Place the original bag in a new plastic ZipLoc bag and seal it.</li>
  <li>Place the completed bag in the appropriate box.</li>
</ul>

<h3>Tablet Startup</h3>

<ol>
  <li>Activate / Wake up the Tablet by pressing the <code>Power</code> 🪫 button at the top left.</li>
  <li>Swipe up to get PIN prompt</li>
  <li>Enter PIN (<strong><em>3260</em></strong>) and press the Enter ➡️button</li>
  <li>Make sure the tablet is connected to the correct wifi network
    <ol>
      <li>For <a href="https://tap-artifacts.johnblowe.com">https://tap-artifacts.johnblowe.com</a>, you’ll need to be
        connected to the internet, either via the FAD-5G network using the credentials you created or some other network
        (e.g. your cell phone connection).
      </li>
      <li>For the local server, you’ll need to connect to GLocal. The password is <strong><em>84436477</em></strong>.
      </li>
    </ol>
  </li>
  <li>If the TAP Artifact page is not showing, click the TAP app icon on the <code>Desktop</code> for whichever wifi
    network (and server) you will be using.
  </li>
  <li>To upload data and images, click on the <code>Upload</code> link.</li>
  <li>Now you are in the app and ready to record!</li>
</ol>

<h3>Adding data and images</h3>

<h4>Add Bag record</h4>

<ol>
  <li>Select a bag to work on (check with Karen to find the next bag)</li>
  <li>Get a fresh data sheet and put the name of the Recorders and today’s Date at the top.</li>
  <li>Select a fresh T-Tag and copy the bag information (context: Unit, Area Level, Excavation Date) from the bag’s
    internal label to the first row of the sheet.
  </li>
  <li>On the tablet, select the <code>Bag</code> tab.</li>
  <li>Enter the bag and recorder info into the tablet: Recorders, Season, Context, Excavation Date, and if needed,
    Notes.
  </li>
  <li>Open the bag at your table and arrange all the sherds nicely on the white surface.</li>
  <li>Ensure that the T-Tag, internal bag label, external bag label, and scale are all present and neatly arranged.</li>
  <li>Follow the directions below <em>“Take a photo with the tablet”</em> to take a photo of the ensemble.</li>
  <li>You did click the <em><code>Add Image</code></em> button to save your photo and data, right?</li>
  <li>If you want to take more images for this bag (not Artifact images, that is something else, see below), return to
    step 9: take the photo, accept the photo, then click <code>Add Image</code>.
  </li>
  <li>Sort and measure your sherds in the usual way, and follow the next checklist <em>Add Artifact Records</em>.</li>
</ol>

<h4>Take a photo with the tablet</h4>

<ol>
  <li>On the tablet, click the <code>Take Photo</code> button.</li>
  <li>Hold the tablet directly over the sherds and tags, at a height that allows you to capture all the sherds, tags,
    and scale. Make sure the lighting is as good as possible.
  </li>
  <li>Click the <code>white round button</code> on the table to take the picture.</li>
  <li>If the picture is OK, click the <code>Checkmark</code> button.</li>
  <li>If the picture is not OK, click the <code>Retake</code> button and go back to step 3. to retake the photo.</li>
  <li>You should now check the following:
    <ol>
      <li>All fields entered correctly. Double check!</li>
      <li>An image filename like “nnnnnnnnnnnn.jpg” appears next to the <code>Take Photo</code> button.</li>
    </ol>
  </li>
  <li><strong><em>Very Important: Click Add image to save the image and data!</em></strong></li>
</ol>

<h4>Add Artifact Records</h4>

<ol>
  <li>Sort artifacts into Rims, Bases, and Body sections.</li>
  <li>For Rims, measure the Rim Diameter, determine the Temper, Typology Number, and Surface Treatment and enter these 4
    values for each Rim in the Datasheet.
  </li>
  <li>For Body and Base sherds, arrange the sherds by Surface Treatment.</li>
  <li>For each Surface Treatment, note the Treatment types and the number of sherds of that type on the Data Sheet.</li>
  <li>For interesting Sherds or groups of Sherds of any type, create an Artifact records using the tablet:
    <ol>
      <li>Click on the <code>Artifacts</code> tab on the tablet.</li>
      <li>Click “<code>Copy from Bags</code>” (which copies the Context information from the <code>Bag</code> tab)</li>
      <li>Verify that the Context and Recorder information is correct.</li>
      <li>Enter the Surface Treatment and any other relevant information into the tablet.</li>
      <li>Take a photo of the sherd or sherds following the directions above <em>“Take a photo with the tablet”.</em>
      </li>
      <li>You can take multiple photos for the same sherd or group. Just repeat the <em>Take a Photo</em> process.</li>
      <li>More is better! We want photos of infrequent Surface Treatments, Tempers, Typologies!</li>
    </ol>
  </li>
</ol>

<h3>At breaks (lunch, etc.) or at the end of the day</h3>

<ol>
  <li>Plug the tablet into its A/C adapter.</li>
  <li>Make sure it is charging.</li>
</ol>
